#list-todo-wrapper {
  width: 900px;
}

.list-todo-container {
  width: 900px;
  display:flex;
}

.list-todo-badge {
  border-radius: 15px 15px 0 0;
  padding: 12px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: 600;
  text-align: center; 
  display: block;
  margin: 0 8px 0 0;
  cursor: pointer;
}

.list-completed-badge {
  border-radius: 15px 15px 0 0;
  padding: 12px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  text-align: center;  
  display: block; 
  margin: 0 8px 0 0;
  cursor: pointer;
}

.list-overdue-badge {
  border-radius: 15px 15px 0 0;
  padding: 12px;
  width: 150px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 600;
  text-align: center; 
  display: block;
  cursor: pointer;
}

.list-todo-post-icon {
  background-image: url(/src/views/List/image/post_task.png);
  cursor: pointer;
  width: 22px;
  height: 22px;
  margin: 0 0 0 280px;
  padding: 6px 4px 6px 4px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.list-todo-patch-icon {
  background-image: url(/src/views/List/image/update_task.png);
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin: 0 0 0 15px;
  padding: 6px 4px 6px 4px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.list-todo-delete-icon {
  background-image: url(/src/views/List/image/delete_task.png);
  cursor: pointer;
  width: 24px;
  height: 24px;
  padding: 6px 4px 6px 4px;
  margin: 0 0 0 15px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  float: right;
}

.list-container {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}

.list-todo-box {
  flex: 1;
}

.list-todo-box-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 8px;
}

.task-item {
  flex-basis: calc(50% - 4px); 
}

.list-todo-bottom {
  width: 900px;
  height: 200px;
}