.task-item-card {
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.task-item-category {
  padding: 8px;
  display: inline-block;

  background-color: rgba(200, 0, 0, 0.5);

  font-size: 16px;
  font-weight: 600;
}

.task-item-main-container {
  padding: 8px 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title-and-checkbox {
  display: flex;
  align-items: center; 
}

.task-item-radio {
   margin-right:10px; 
}

.task-item-title {
  font-size: 20px;
  font-weight: 500px;
  margin-left: 10px; 
}

.task-item-date {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  margin-left: 40px;
}

.task-item-bottom {
  padding: 8px 16px;
  display: flex;
  flex-direction: row-reverse;
}

.task-item-status {
  border-radius: 4px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);

  color: rgba(255, 225, 225, 1);
  cursor: pointer;
}